main .main-videoreviews {
    margin-top: 30px;
    width: 100%;
}

.main-videoreviews .video-header {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 20px;
}

.main-videoreviews .videoreviews-videos {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    .main-videoreviews .video-header {
        font-size: 45px;
    }
}