main {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-top: 20px;
}

main .content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    main .content {
        width: 800px;
    }
}