main .main-newproducts {
    width: 100%;
    margin-top: 20px;
}

.main-newproducts .newproducts-header {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
}

.main-newproducts .newproducts-list {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 360px 360px;
    justify-content: center;
    gap: 10px
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    .main-newproducts .newproducts-header {
        font-size: 45px;
    }
    
    .main-newproducts .newproducts-list {
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: 360px 360px;
    }

    .main-newproducts .newproducts-list .main-product:nth-child(8) {
        display: none;
    }

    .main-newproducts .newproducts-list .main-product:nth-child(7) {
        display: none;
    }
}