.main-about h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}

.main-about .about-logo {
    width: fit-content;
}

.about-logo img {
    display: block;
    width: 150px;
}

.main-about p {
    text-indent: 40px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0;
}

.main-about p > a {
    color: black;
}

.main-about p > a:hover {
    color: rgb(75, 75, 75);
}

.main-about .about-images {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 35px;
}

.about-images img {
    height: 300px;
    border-radius: 10px;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    .about-images img {
        height: 200px;
        border-radius: 10px;
    }

    .main-about .about-images {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 20px;
    }

    .main-about p {
        text-indent: 25px;
        text-align: justify;
        font-size: 16px;
        font-weight: 400;
        margin: 15px 0;
    }
}