.main-pdp_control .main-pdp_product {
    width: 450px;
    height: 330px;
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
}

.main-pdp_product img {
    display: block;
    width: 328px;
    height: 328px;
}

.main-pdp_product .pdp-product_images {
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pdp-product_images .pdp-product_image {
    width: 100px;
    cursor: pointer;
}

.pdp-product_image > img {
    display: block;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    width: 98px;
    height: 98px;
    transition: 0.2s;
}

.pdp-product_image > img:hover {
    border: 1px solid black;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    .main-pdp_control .main-pdp_product {
        width: 330px;
        height: 430px;
        flex-direction: column;
    }

    .main-pdp_product .pdp-product_images {
        flex-direction: row;
    }
}