main .main-comments {
    width: 100%;
    margin-top: 30px;
}

.main-comments .comments-header {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.main-comments .comments-items {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.main-comments .comments-more {
    display: block;
    text-align: right;
    padding-right: 100px;
    margin: 20px 0 15px;
    font-size: 20px;
    font-weight: 500;
}

.comments-more > a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.comments-more > a:hover {
    color: grey;
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    .main-comments .comments-header {
        font-size: 45px;
    }
    
    .main-comments .comments-items {
        column-gap: 100px;
    }
    
    .main-comments .comments-items .comments-comment:last-child {
        display: none;
    }
}